body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url("Assets/course.jpeg");
  background-color:rgb(27, 54, 28);
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .lineup{
  padding:5px 12px;
  float: right;
}
.addDancerButton, .lineup{
  border: 1px solid;
  margin-right: 5px;
  border-radius: 5px;
}
.topbar{
  height:32px;
  background-color: rgb(78, 98, 211);
}
.topbar a:hover {
	background-color: white;
	color: rgb(78, 98, 211);
  transition-property: color, background-color;
	transition-duration: 0.5s;
}
.dancer{
  border-radius:10px;
  position: absolute;
}
.blinky {
  height: 15%;
  content: url("Assets/gopher.png");
}
.blinky:hover {
  opacity: 0%;
}
.blue{
  height: 25%;
  content: url("Assets/bird.png");
  position:absolute;
  animation: spin 0.5s;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.bouncy {
  height: 10%;
  content: url("Assets/ball.png");
  position:relative;
  animation: bounce 1s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}

@keyframes bounce{
    100% {
        left:80%;
    }
}
@keyframes move {
    50% {
        bottom: 20%;
    }
    100% {
        bottom: 0;
    }
}
@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

